.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-main {
  height: 100%;
}

.page-main > * {
  height: 100%;
}

.page-section {
  background-color: #fff;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .page-section {
    background-color: #fff;
    padding: 48px;
  }
}